aiogram==3.0.0b7
async-timeout==4.0.2
attrs==23.1.0
Babel==2.13.1
certifi==2023.7.22
frozenlist==1.4.0
idna==3.4
idna-ssl==1.1.0
multidict==6.0.4
python-dotenv==1.0.0
pytz==2023.3
typing-extensions==4.8.0
yarl==1.9.2
pyrogram==3.15